/* Basic */
@import 'basic/base.css';
@import 'basic/helpers.css';
@import 'basic/buttons.css';
/* Components */
@import 'components/footer.css';
@import 'components/header.css';
/* Media Queries */
@import 'mq/mq.css';
/* Setup */
@import 'setup/vars.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #333;
}

.main-navbar > * {
  margin-inline-end: 1rem;
  color: inherit;
  padding: 1rem;
}

.main-navbar > *:hover {
  border-bottom: 2px #81acd7 solid;
}

.img-container {
  margin-top: 2rem;
}

.img-container > :last-child {
  margin-inline-start: 1rem;
}

.sale-img {
  width: 50px;
  height: 50px;
}

.app-header,
.app-footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem;
  padding: 2rem 0;
}

.app-header {
  justify-content: space-around;
}

.app-footer {
  margin-top: 2rem;
}

.book-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-list > ul {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book-preview-container {
  cursor: pointer;
  width: 250px;
  padding: 1rem;
  margin-inline-end: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  padding: 1rem;
  transition: 0.2s all;
}

.btn:hover {
  opacity: 0.7;
  padding: 1rem;
  outline: #fff 2px solid;
  background-color: #51acd1;
}

.book-preview-container:hover {
  outline: 3px solid #333;
}

.book-preview-container img {
  width: 100%;
}

.red,
.error {
  color: red;
}
.green,
.success,
.user-msg-link {
  color: greenyellow;
}

.review-form {
  display: flex;
  flex-direction: column;
}

.review-form > * {
  margin-bottom: 1rem;
}

.review-form > :nth-child(4) {
  display: flex;
  flex-direction: column;
}

.review-form span {
  margin-bottom: 1rem;
}

.user-msg {
  background-color: #333;
  position: fixed;
  top: 150px;
  right: 0;
}
