/* Basic */
@import 'basic/base.css';
@import 'basic/helpers.css';
@import 'basic/buttons.css';
/* Components */
@import 'components/footer.css';
@import 'components/header.css';
/* Media Queries */
@import 'mq/mq.css';
/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

@import 'apps/books/book.css';
@import 'apps/keep/keep.css';
/* Email */
@import 'apps/email/email-icons.css';
@import 'apps/email/email-app.css';
@import 'apps/email/email.folder-list.css';
@import 'apps/email/email-preview.css';
@import 'apps/email/email.compose.css';
@import 'apps/email/email-list.css';
@import 'apps/email/email.filter.css';

/* Keep */
@import 'apps/keep/components/note-add.css';
@import 'apps/keep/components/note-container.css';
@import 'apps/keep/mq/mq.css';

.img-container {
  margin-top: 2rem;
}

.img-container > :last-child {
  margin-inline-start: 1rem;
}

.red,
.error {
  color: red;
}

.green,
.success,
.user-msg-link {
  color: greenyellow;
}

.user-msg {
  background-color: #333;
  position: fixed;
  top: 150px;
  right: 0;
}
