@media screen and (max-width: 520px) {
  .above-apps {
    flex-direction: column;
  }
  .home-page .home-apps img {
    width: 180px;
    padding: 10px;
    margin: 0;
    padding: 5px;
}
}

@media screen and (max-width: 780px) {
  .app-header {
    justify-content: space-between;
  }

  .app-header .logo,
  .app-header .btn.menu-toggle {
    margin: 0 3rem;
  }

  .main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    z-index: 15;

    transition: opacity 0.6s;
  }

  .main-screen.menu-open {
    pointer-events: auto;
    opacity: 1;
  }

  .btn.menu-toggle {
    position: relative;
    z-index: 20;
    padding: 8px 10px;
    border: none;
    font-size: 1.6em;
    transition: color 0.3s;
  }

  .menu-open.btn.menu-toggle {
    color: #f9f9f9;
  }

  .main-navbar {
    padding: 0;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 43px;
    height: 100vh;
    width: 160px;
    transform: translateX(100%);
    background-color: #f9f9f9;
    z-index: 20;
    transition: all 0.6s;
  }

  .main-navbar::after {
    content: '';
    width: 100%;
    height: 50%;
    background: url(../../img/header-imgs/navbar-img.jpg) no-repeat center center/contain;
    opacity: 0.2;
    position: absolute;
  }

  .main-navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: calc(1rem + 2px);
    width: 100%;
  }

  .expand {
    box-shadow: -6px 0px 17px rgb(0 0 0 / 19%);
    transform: translateX(0);
  }

  .about-card>.img-container {
    margin: 2rem 0;
  }

  .about-card,
  .about-card.row-reverse {
    margin: 2rem;
    flex-direction: column;
  }
}

@media screen and (min-width: 780px) {
  .btn.menu-toggle {
    display: none;
  }
}