* {
  box-sizing: border-box;
}

body {
  font-family:roboto;
  margin: 0;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #333;
}

iframe{
  border: none;
  border-radius: 3px;
}