* {
  box-sizing: border-box;
}

body {
  font-family: roboto;
  margin: 0;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

iframe {
  border: none;
  border-radius: 3px;
}

audio {
  border-radius: 5px;
  padding: 1px 5px 0 2px;
  height: 40px;
}
