.modal-input-container {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(188, 188, 188);
    transform: translate(-50%, -50%);
    z-index: 25;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(122, 122, 122), inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

.modal-input-container .btn {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

.modal-input-container .btn:hover {
    background-color: rgb(148, 148, 148);
}

.modal-input-container input {
    width: 100%;
}