.note-filter-container {
    text-align: center;
    max-width: 350px;
    line-height: 2rem;
    margin: 0 auto 20px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgb(122, 122, 122), inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

.note-filter-container input,select {
    border: none;
    padding-inline-start: 5px;
    font-size: 1.1rem;
    border-radius: 3px;
    border: none;
    margin: 3px 5px;
}