.note-add-container {
   align-items: center;
   max-width: 400px;
   /* line-height: 2rem; */
   margin: 10px auto;
   padding:6px 10px  ;
   border-radius: 10px;
   box-shadow: 0 0 3px 0 rgb(122, 122, 122), inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

.note-add-options {
   display: flex;
   align-items: center;
}

.note-add-container p {
   margin: 5px 10px 5px 25px;
   color: rgb(99, 99, 99);
   font-size: 1.3rem;
   align-self: center;
}

.note-add-container p:hover {
   transition: .1s;
   color: black;
   cursor: pointer;
   text-shadow: 0 0 3px rgb(0, 0, 0);
}

.note-add-container input {
   border: none;
   padding: 5px;
   font-size: 1.1rem;
   width: 55%;
}