.email-folder-list {
  position: fixed;
  background: #fff;
  color: grey;
  top: 120px;
  left: 0;
  height: 100vh;
  width: 15vw;
  box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
}

.email-folder-list > a,
.email-folder-list > a > .btn {
  margin-bottom: 0.8rem;
  color: grey;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.unread-emails > :first-child {
  margin-inline-end: 0.4rem;
  font-size: 1.2rem;
}

.email-status-btn > :first-child {
  margin-inline-end: 0.7rem;
}

.email-folder-list > a.email-active,
.email-folder-list .btn.email-status-btn.email-active {
  color: red;
}
.email-folder-list .btn.email-status-btn.email-active,
.btn.email-status-btn:hover {
  background-color: #fce8e6;
  border-radius: 5px;
}

.btn.compose-btn {
  margin-top: 0.8rem;
}
.btn.compose-btn:hover {
  background-color: #fce8e6;
}

/* .btn.compose-btn:hover::before {
  content: '+';
  background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem;
  padding: 0 1rem;
  background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/2x/create_32dp.png);
} */
