.email-preview {
  margin: 0 5px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.email-list > ul {
  width: 100%;
  text-align: center;
}
.email-list {
  width: 100%;
  display: flex;
}

.details {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}

.details > * {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details > :last-child {
  flex: 3;
}
.details > :first-child {
  flex: 1;
}

.email-read {
  background: rgba(242, 245, 245, 0.8);
  color: #202124;
}
