.email-app {
  position: relative;
  left: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 56px);
  height: calc(100% - 107.489px);
  margin-bottom: 2rem;
}
