.email-list {
  height: 100%;
}

.email-list > ul > li {
  cursor: pointer;
  color: gray;
  padding: 0.4rem 0;
  margin: 0;
  border-bottom: 2px solid rgba(240, 240, 240, 0.557);
}
.email-list > ul > :first-child {
  border-top: 2px solid rgba(240, 240, 240, 0.557);
}

.email-preview-container {
  display: flex;
  margin: 2rem 0;
}

.email-list > ul > li:hover {
  color: black;
  box-shadow: 0px 1px 0px rgba(100, 100, 100, 0.5),
    0px -1px 0 rgba(100, 100, 100, 0.5);
}
