.app-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  color: #575a5e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  box-shadow: 0 0 0px 2px rgb(32 33 36 / 6%);
  z-index: -10;
}

body.hide-footer .app-footer {
  display: none;
}
