.note-container{
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    box-shadow: 0 0 5px 0px rgb(122, 122, 122);
    /* box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%); */
}