.note-container{
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    box-shadow: 0 0 5px 0px rgb(122, 122, 122);
    /* box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%); */
}

.note-actions-container{
   text-align: end;
}

.note-actions-container p{
    margin:20px 10px 0 30px;
    font-size: 1.3rem;
 }

 .note-actions-container p:hover{
     transition: .1s;
     color: aliceblue;
     text-shadow: 0 0 10px rgb(122 126 74);
 }
